.el-form-item__content {
  margin-left: 0 !important;
  margin-bottom: 12px;
}
.el-form-item {
  margin-bottom: 0 !important;
}
.el-form-item__error {
  top: 100%;
  left: 15px !important;
}
.el-form {
  padding-bottom: 64px;
}
.jsoneditor-poweredBy {
  display: none;
}
#app .fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1810;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}

.starfish-formitem {
  text-align: left;
  margin: 0 12px;
  position: relative;
  &.formCover::before {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
  }
  .label {
    font-size: 12px;
    height: 36px;
    line-height: 36px;
  }
  .item_require {
    color: red;
  }
}
