.starfish-grid_box {
  padding: 5px;
  .grid-col {
    min-height: 60px;
  }
  .draggable-box {
    height: 100%;
    background: white;
    border: 1px #ccc dashed;
    box-sizing: border-box;
  }
}
