.keyValueItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  border: 1px solid #eee;
  margin-bottom: 6px;
  border-radius: 10px;
  padding: 10px 0;
  .keyValueSelect {
    width: 30px;
    text-align: center;
  }
  .keyValueInput {
    flex: 1;
    .inputItem {
      line-height: 20px;
    }
    > div {
      margin-bottom: 7px;
      span {
        display: block;
        margin-bottom: 6px;
      }
    }
  }
  .keyValueControl {
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    > div {
      width: 17px;
      height: 17px;
      border: 1px solid #eee;
      border-radius: 50%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 0;
    }
    .add {
      background: #409eff;
      color: white;
    }
    .remove {
      background: red;
      color: white;
    }
    i {
      font-size: 12px;
    }
  }
}
