.el-form-item__content{
    margin-left: 0 !important;
}
.el-form-item{
    margin-bottom: 0 !important;
}
.el-form-item__error{
    top: 88%;
    left: 15px !important;
}
.jsoneditor-poweredBy{
    display: none;
}
.starfish-formitem {
    text-align: left;
    padding: 0 12px 12px;
    position: relative;
    &.formCover::after{
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-color: transparent;
        position:absolute;
        top: 0;
        left:0;
    }
    .label {
        height: 36px;
        line-height: 36px;
    }
    .item_require{
        color: red;
    }
}
