.starfish-editor {
  .conditionSelectNormal {
    .my-pageMain {
      .tipContent {
        margin-bottom: 20px;
        font-size: 14px;
        color: rgb(118, 116, 116);
      }
      padding: 20px 50px !important;
      .tableContainer {
        border: 1px solid #dfe6ec;
        margin-bottom: 15px;
      }
      :deep(.el-form) {
        padding-bottom: 0px !important;
        .el-form-item__content {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          margin-bottom: 0 !important;
          .el-form-item__error {
            white-space: nowrap;
            position: static;
          }
        }
      }
    }
  }

  .conditionModule {
    .my-pageMain {
      .el-alert {
        margin-bottom: 15px;
      }
      .tipContent {
        color: rgb(85, 83, 83);
      }
      padding: 20px 50px !important;
      .conditionContainer {
        display: flex;
        padding-left: 20px;
        .stringlist {
          flex: 1;
          .kh,
          .and,
          .or {
            display: block;
            margin-left: 20px;
            line-height: 20px;
          }
          .data {
            color: #409eff;
          }
          .orgroup {
            color: red;
          }
          .andgroup {
            color: green;
          }
          .or {
            color: rgb(91, 6, 248);
          }
          .and {
            color: black;
          }
        }
      }
      .conditionSelect {
        display: inline-block;
        margin-top: 20px;
        flex: 1;
        position: relative;
        .selectList {
          margin: 0 0 0 20px;
        }
      }
      .moreCondition {
        position: relative;
        //   margin-top: 20px;
        .line {
          content: "";
          display: block;
          height: calc(100% - 20px);
          width: 1px;
          // background-color: red;
          border: 1px dashed red;
          border-right: none;
          position: absolute;
          top: 20px;
          left: 0;
          &::after {
            display: block;
            content: "";
            width: 15px;
            position: absolute;
            top: -1px;
            border-top: 1px dashed red;
            left: 1px;
          }
          &::before {
            display: block;
            content: "";
            width: 15px;
            height: 0px;
            position: absolute;
            bottom: -1px;
            border-top: 1px dashed red;
            left: 1px;
          }
        }
        .andgroup {
          border-color: green;
          &::after {
            border-color: green;
          }
          &::before {
            border-color: green;
          }
        }
        .orgroup {
          border-color: red;
          &::after {
            border-color: red;
          }
          &::before {
            border-color: red;
          }
        }
      }
    }
  }

  .conditionSelect {
    .control {
      display: inline-block;
      position: absolute;
      left: -16px;
      top: 10px;
      font-size: 8px;
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed #b4bccc;
      box-sizing: border-box;
      color: #b4bccc;
    }
    .el-button {
      margin-left: 10px;
    }
  }

  .maxJsonDialog {
    .my-pageMain {
      padding: 20px 50px !important;
    }
    :deep(.el-form) {
      .el-form-item {
        margin-bottom: 0;
      }
      padding-bottom: 0px !important;
      .el-form-item__content {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 0 !important;
        .el-form-item__error {
          white-space: nowrap;
          position: static;
        }
      }
    }
  }
}
