.previewDialog {
  .previewList {
    background: #f0f2f5;
  }
  .page_box {
    height: 85%;
    margin: 0 auto;
    overflow-y: auto;
    &.PC_layout {
      width: 100%;
      border: 10px solid transparent;
    }
    &.Pad_layout {
      width: 800px;
      border-radius: 15px;
      border: 10px solid #495060;
    }
    &.H5_layout {
      width: 443px;
      border-radius: 15px;
      border: 10px solid #495060;
    }
  }
  .custom_code {
    padding: 15px;
    min-height: 400px;
  }
  .my-Footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .codeDialog {
    height: auto !important;
  }

  .formconfig {
    height: 100%;
    overflow: scroll;
    @include scrollbar();
    .el-form {
      padding-bottom: 0;
    }
  }
}
