@font-face {
  font-family: "iconfont"; /* Project id 2838003 */
  src: url("https://at.alicdn.com/t/font_2838003_ar35ld9l8z4.woff2?t=1636266235542")
      format("woff2"),
    url("https://at.alicdn.com/t/font_2838003_ar35ld9l8z4.woff?t=1636266235542")
      format("woff"),
    url("https://at.alicdn.com/t/font_2838003_ar35ld9l8z4.ttf?t=1636266235542")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yulan:before {
  content: "\e612";
}

.icon-baocun:before {
  content: "\e63b";
}

.icon-textEdit:before {
  content: "\e63d";
}

.icon-fengexian:before {
  content: "\ec7f";
}

.icon-xuanzeqi:before {
  content: "\e701";
}

.icon-icon_huakuai:before {
  content: "\e738";
}

.icon-jishuqi:before {
  content: "\e6fd";
}

.icon-riqishijian:before {
  content: "\e6c8";
}

.icon-shijian:before {
  content: "\e666";
}

.icon-24gl-calendar:before {
  content: "\eb3f";
}

.icon-sen103:before {
  content: "\e620";
}

.icon-suoxiao1:before {
  content: "\e661";
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-json-full:before {
  content: "\ea42";
}

.icon-suoxiao:before {
  content: "\e87b";
}

.icon-kuoda:before {
  content: "\e7b0";
}

.icon-guanbi:before {
  content: "\eca0";
}

.icon-biaodan:before {
  content: "\e665";
}

.icon-fuxuankuang_xuanzhong:before {
  content: "\e6c9";
}

.icon-zengjia:before {
  content: "\e6ea";
}

.icon-shanchu:before {
  content: "\e608";
}

.icon-shangyi:before {
  content: "\e656";
}

.icon-xiayi:before {
  content: "\e657";
}

.icon-danxuankuang:before {
  content: "\e69c";
}

.icon-kaiguanguan:before {
  content: "\e698";
}

.icon-textarea:before {
  content: "\e60a";
}

.icon-tishi:before {
  content: "\e60e";
}

.icon-wenbenkuang:before {
  content: "\e629";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-huanyuan:before {
  content: "\e7ae";
}

.icon-jianpan_o:before {
  content: "\eb4b";
}

.icon-jiantou_xiangyouliangci:before {
  content: "\eb09";
}

.icon-jiantou_xiangzuoliangci:before {
  content: "\eb0a";
}
