.starfish-editor {
  .header_nav {
    height: $editor_nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0 2px 10px rgb(70 160 252 / 60%);
    box-shadow: 0 2px 10px rgb(70 160 252 / 60%);
    padding: 0 10px;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#1278f6),
      to(#00b4aa)
    );
    background-image: linear-gradient(to right, #1278f6, #00b4aa);
    position: relative;
    border-bottom: 1px solid #d8dee8;
    padding: 0 15px;
    .logo {
      font-size: 20px;
      color: white;
      font-weight: bold;
      display: flex;
      span {
        font-size: 30px;
      }
    }
    .starfish-link {
      a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        line-height: 50px;
        font-weight: 500;
        margin-left: 15px;
        background: transparent;
      }
    }
  }
}
