.starfish-editor {
  &-resizer {
    height: 100%;
    width: 8px;
    background: padding-box $resizer_background_color;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-sizing: border-box;
    &:hover {
      cursor: ew-resize;
      border-color: $resizer_hover_background_color;
    }
  }
}
