// 编辑页面头部的高度
$editor_nav: 50px;

$editor-nav-background-color: white;
// 画布的最小高度
$editor_canvas_min_height: 667px;

$blue: #409eff;

$resizer_background_color: #d8dee8;

$resizer_hover_background_color: #ccc;

$layout_color: #9867f7;
@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 5px;
    height: 2px;
    background: transparent;
    transition: all 0.3s;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    -webkit-box-shadow: none;
  }
  &::-webkit-scrollbar-track {
    border-radius: 8px;
    background: transparent;
  }
  &::-webkit-scrollbar-track-piece {
    background: transparent;
    border: none;
  }
}
